{% extends "web/layout.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block 'content' %}
<section class="container pt-4 pb-5 mb-lg-5">
  <!-- Breadcrumb mobile -->
  <nav class="d-md-none pb-3 mb-2 mb-lg-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#!">Services</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Import & Export
      </li>
    </ol>
  </nav>

  <div class="row row-cols-1 row-cols-md-2 g-0 pb-2">
    <!-- Image -->
    <div
      class="col order-md-2 position-relative bg-position-center bg-size-cover bg-repeat-0 zindex-2"
      style="
        background-image: url(/static/web/img/shipping.jpg);
        border-radius: 0.5rem 0.5rem 0.5rem 0;
      "
    >
      <div style="height: 250px"></div>
    </div>

    <!-- Text + Breadcrumb desktop -->
    <div class="col order-md-1">
      <nav class="d-none d-md-block py-3 mb-2 mb-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Services</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Import & Export
          </li>
        </ol>
      </nav>

      <div class="bg-secondary rounded-3 p-4 p-lg-5 mt-n2 mt-md-0 me-md-n2">
        <div class="px-sm-3 px-xl-4 pt-4 py-md-3 py-lg-4 py-xl-5">
          <h1 class="pb-2 pb-xxl-3">Import & Export</h1>
          <p
            class="pb-2 mb-4 mb-xxl-5 text-justify"
            style="text-align: justify"
          >
              Welcome to Premium Real Consulting Import & Export Service.
          </p>
          <p
            class="pb-2 mb-4 mb-xxl-5 text-justify"
            style="text-align: justify"
          >
              We are a leading import and export company based in Nigeria and Canada, with a reputation for providing high-quality products and exceptional customer service. Our team of experienced professionals is dedicated to helping businesses like yours succeed in today's competitive global market.
          </p>
          <p
            class="pb-2 mb-4 mb-xxl-5 text-justify"
            style="text-align: justify"
          >
              We specialize in a wide range of products, including:

              • Industrial machinery and equipment
              • Consumer electronics
              • Home and personal care products
              • Food and beverages
              • Clothing and fashion accessories
              • Vehicles
          </p>
          <p
            class="pb-2 mb-4 mb-xxl-5 text-justify"
            style="text-align: justify">
              No matter what your import or export needs may be, we have the knowledge and resources to make it happen. We work with suppliers and manufacturers around the world to source the best products at the most competitive prices, and we handle all aspects of the importing and exporting process, including customs clearance, shipping, and logistics.<br/><br/>
              Our top priority is your satisfaction. We take pride in our attention to detail and commitment to building long-term partnerships with our clients.<br/><br/>
              Thank you for considering Premium Real Consulting import and export service. Please don't hesitate to contact us with any questions or to request a quote. We look forward to working with you!

          </p> 
          <div class="d-xxl-flex align-items-center">
            <a href="/contact" class="btn btn-primary rounded-0 btn-lg"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
