{% load static %}
<section class="container pt-xl-3 pb-5">
  <h2 class="h1 text-center text-lg-start pb-4 mb-1 mb-lg-3">
    Industries We Serve
  </h2>
  <div class="row pb-2 pb-md-4 pb-lg-5">
    <div class="col-xl-4 col-lg-5 d-flex flex-column order-2 order-lg-1">
      <!-- Swiper slider -->
      <div
        class="swiper mx-0 mb-md-n2 mb-xxl-n3 swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight swiper-backface-hidden"
        data-swiper-options='{
              "spaceBetween": 30,
              "loop": true,
              "tabs": true,
              "autoHeight": true,
              "navigation": {
                "prevEl": "#prev-industry",
                "nextEl": "#next-industry"
              }
            }'
      >
        <div
          class="swiper-wrapper text-center text-lg-start"
          style="
            transition-duration: 0ms;
            transform: translate3d(-396px, 0px, 0px);
            height: 253px;
          "
          id="swiper-wrapper-e7b564bc4403c2e6"
          aria-live="polite"
        >
          <div
            class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
            data-swiper-tab="#industry-3"
            data-swiper-slide-index="2"
            role="group"
            aria-label="3 / 3"
            style="width: 366px; margin-right: 30px"
          >
            <h3 class="h4 mb-4">
              <a
                href="#"
                class="nav-link justify-content-center justify-content-lg-start fw-bold p-0"
              >
                Financial Sector
                <i
                  class="bx bx-right-arrow-alt text-primary fs-3 fw-normal ms-2 mt-1"
                ></i>
              </a>
            </h3>
            <p>
              Data analytics in the finance and banking sector is mainly used in
            demand, supply, and risk management. Many banks are working on improving their data
            analytics, mainly to give them an edge against competition or to
            predict emerging trends that can affect their businesses. We at CRC
            Data & Analytics have developed products that will make bankers use
            their customers past data to get the future best our of their
            customers. Our products in this area includes:
            </p>
            <p>
            <ul>
              <li>Customer Returnex - which helps banks know the customers that are likely to come back to
            them and take loans and those that will go to other banks to take
            loans.</li>
              <li>Risk Calculator - which helps the bank know the riskiness of
            their customers.</li>
              <li>
                Sentiment Analysis - which helps banks
            understand the emotions and feelings of their customers on social
            media
              </li>
            </ul>
          </p>
          </div>

          <!-- Item -->
          <div
            class="swiper-slide swiper-slide-active"
            data-swiper-tab="#industry-1"
            data-swiper-slide-index="0"
            role="group"
            aria-label="1 / 3"
            style="width: 366px; margin-right: 30px"
          >
            <h3 class="h4 mb-4">
              <a
                href="#"
                class="nav-link justify-content-center justify-content-lg-start fw-bold p-0"
              >
                
                Financial Sector
                <i
                  class="bx bx-right-arrow-alt text-primary fs-3 fw-normal ms-2 mt-1"
                ></i>
              </a>
            </h3>
            <p class="text-justify" style="text-align: justify;">
              Data analytics in the finance and banking sector is mainly used in
            demand, supply, and risk management. Many banks are working on improving their data
            analytics, mainly to give them an edge against competition or to
            predict emerging trends that can affect their businesses. We at CRC
            Data & Analytics have developed products that will make bankers use
            their customers past data to understand their customer behavior and financial characteristics. Our products in this area includes:
            </p>
            <p class="text-left">
              <ul>
                <li><strong>Customer Returnex</strong> - which helps banks know the customers that are likely to come back to
              them and take loans and those that will go to other banks to take
              loans.</li>
                <li><strong>Risk Calculator</strong> - Help the financial institution classify their customers based on their credit risk levels.</li>
                <li>
                  <strong>Sentiment Analysis</strong> - which helps organizations
              understand the emotions and feelings of their customers on social
              media
                </li>
              </ul>
            </p>
          </div>

          <!-- Item -->
          <div
            class="swiper-slide swiper-slide-next"
            data-swiper-tab="#industry-2"
            data-swiper-slide-index="1"
            role="group"
            aria-label="2 / 3"
            style="width: 366px; margin-right: 30px"
          >
            <h3 class="h4 mb-4">
              <a
                href="#"
                class="nav-link justify-content-center justify-content-lg-start fw-bold p-0"
              >
                Real Estate
                <i
                  class="bx bx-right-arrow-alt text-primary fs-3 fw-normal ms-2 mt-1"
                ></i>
              </a>
            </h3>
            <p  style="text-align: justify;">
              Smart data analytics is giving real estate professionals and
            investors in the real estate industry more insight into the factors
            impacting property value than ever before. From assessing risks to
            analyzing evolving trends, we're now able to anticipate the success
            of a property more accurately thanks to the abundance of information
            available to us through data. We at CRC Data & Analytics can build
            products that will ensure that:
            </p>
            <p>
            <ul>
              <li>Predictive analytics help real estate developers understand their customer's journey</li>
              <li>Predictive analytics help investors with finding the right property</li>
              <li>Predictive analytics make smarter valuation models</li>
            </ul>
          </p>
          </div>

          <!-- Item -->
          <div
            class="swiper-slide swiper-slide-duplicate-prev"
            data-swiper-tab="#industry-3"
            data-swiper-slide-index="2"
            role="group"
            aria-label="3 / 3"
            style="width: 366px; margin-right: 30px"
          >
            <h3 class="h4 mb-4">
              <a
                href="#"
                class="nav-link justify-content-center justify-content-lg-start fw-bold p-0"
              >
                Telecommunication
                <i
                  class="bx bx-right-arrow-alt text-primary fs-3 fw-normal ms-2 mt-1"
                ></i>
              </a>
            </h3>
            <p style="text-align: justify;">
              Big data has become important to drive progress in the
              telecommunication industry. With the right data analytics
              approach, telecommunication companies can dramatically improve
              their services and make their subscribers happier. Telecoms that
              implement big data analytics can reap several benefits such as
              informed decision-making, improved customer service, and efficient
              operations. With us at CRC Data & Analytics, we can provide
              products for you in the following areas:
            </p>
            <p>
              <ul>
                <li>Network Optimization</li>
                <li>Performing Preventive Diagnostics</li>
                <li>Target Marketing</li>
                <li>Recommendation Engine</li>
                <li>Price Optimization</li>
                <li>Predictive Chun Analysis</li>
              </ul>
            </p>
          </div>

          <div
            class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
            data-swiper-tab="#industry-1"
            data-swiper-slide-index="0"
            role="group"
            aria-label="1 / 3"
            style="width: 366px; margin-right: 30px"
          >
            <h3 class="h4 mb-4">
              <a
                href="#"
                class="nav-link justify-content-center justify-content-lg-start fw-bold p-0"
              >
                Telecommunication
                <i
                  class="bx bx-right-arrow-alt text-primary fs-3 fw-normal ms-2 mt-1"
                ></i>
              </a>
            </h3>
            <p>
              Big data has become important to drive progress in the
            telecommunication industry. With the right data analytics approach,
            telecommunication companies can dramatically improve their services
            and make their subscribers happier. Telecoms that implement big data
            analytics can reap several benefits such as informed
            decision-making, improved customer service, and efficient
            operations. With us at CRC Data & Analytics, we can provide products
            for you in the following areas:
            </p>
            <p>
            <ul>
              <li>Network Optimization</li>
              <li>Performing Preventive Diagnostics</li>
              <li>Target Marketing</li>
              <li>Recommendation Engine</li>
              <li>Price Optimization</li>
              <li>Predictive Chun Analysis</li>
            </ul>
          </p>
          </div>
        </div>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"
        ></span>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"
        ></span>
      </div>

      <!-- Slider controls (Prev / next buttons) -->
      <div
        class="d-flex justify-content-center justify-content-lg-start mt-2 mt-lg-auto"
      >
        <button
          type="button"
          id="prev-industry"
          class="btn btn-prev btn-icon btn-sm me-2"
          tabindex="0"
          aria-label="Previous slide"
          aria-controls="swiper-wrapper-e7b564bc4403c2e6"
        >
          <i class="bx bx-chevron-left"></i>
        </button>
        <button
          type="button"
          id="next-industry"
          class="btn btn-next btn-icon btn-sm ms-2"
          tabindex="0"
          aria-label="Next slide"
          aria-controls="swiper-wrapper-e7b564bc4403c2e6"
        >
          <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </div>
    <div
      class="col-lg-7 offset-xl-1 order-1 order-lg-2 pt-lg-3 mt-lg-n5 mb-4 mb-lg-0"
    >
      <!-- Swiper tabs (Industry images) -->
      <div class="swiper-tabs" style="margin-top: 4em">
        <!-- Industry 1 -->
        <div id="industry-1" class="swiper-tab active">
          <img
            src="/static/web/img/finance.jpg"
            class="rounded-3 mt-8"
            alt="Image"
          />
        </div>

        <!-- Industry 2 -->
        <div id="industry-2" class="swiper-tab">
          <img
            src="/static/web/img/realestate.jpg"
            class="rounded-3"
            alt="Image"
          />
        </div>

        <!-- Industry 3 -->
        <div id="industry-3" class="swiper-tab">
          <img
            src="/static/web/img/telecoms.jpg"
            class="rounded-3"
            alt="Image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
